build
docs/doxygen
*.swp
*.swo
compile_commands.json
.vim
.clangd
__pycache__
obj-x86_64-linux-gnu
debian/tauray
*.deb
debian/debhelper-build-stamp
debian/files
debian/tauray.substvars
debian/.debhelper
deploy.sh
paper
.vs/
TauRay.vcxproj.user
builddir/
external/SDL2-2.0.12/
external/packagecache/
x64/
