# Disable validation layers, they slow the program down.
validation off

# Select which renderer you want to run
# path-tracer = unidirectional path tracing (BSDF + NEE with MIS)
# restir = ReSTIR-PT with BSDF + NEE canonical samples
# rc-restir = ReSTIR-PT with RCPG canonical samples
# rc = path tracing with radiance cascade path guiding

#renderer path-tracer
#renderer restir
#renderer rc-restir
renderer rc

# Select scene.
#scene ../scene-data/ajar.glb
#scene ../scene-data/breakfast.glb
scene ../scene-data/staircase.glb
#scene ../scene-data/classroom.glb
#scene ../scene-data/rungholt.glb
#scene ../scene-data/kitchen.glb

# max-ray-depth = 3 is actually the max number of path vertices; this is 1
# indirect bounce. = 4 is two indirect bounces.
max-ray-depth 3
radiance-cascades.recursive false
#max-ray-depth 4
#radiance-cascades.recursive true

# Set both of these to the same value. `samples-per-pass` just means the number
# of samples to trace in one pass, for real-time rendering it's fastest if
# they're equal. They are only separate options due to some GPU drivers killing
# the renderer if a single pass takes too long, which can occur in high-spp
# situations.
samples-per-pixel 19
samples-per-pass 19

# PDF visualizer at a hardcoded position in the scene. See shader/radiance_cascades_visualizer.comp
radiance-cascades.visualizer false

# Texel sampling method, uniform or brdf. Paper measurements used uniform unless
# noted otherwise.
radiance-cascades.texel uniform

# C0 probe image resolution, this is 4x4 per probe and used for measurements.
radiance-cascades.c0 4

# 7 => 2^7, this means that the C0 grid is 128^3.
radiance-cascades.gridsize 7

# Enables an experimental anti-firefly method. This was not included in the
# paper and may not work correctly.
radiance-cascades.defensive off

# Number of light samples to compute when shading radiance cascade rays.
radiance-cascades.di-samples 1

# This option is a bit odd in that it has to be enabled for radiance cascades
# to work properly, as we've coded `radiance_cascades_trace.comp` to assume
# that the light tree is always used for light sampling. The light tree has been
# manually disabled from being passed to # the path tracer in rc_renderer.cc,
# so setting this as "on" only enables it for radiance cascade updates.
enable-light-tree on

# ReSTIR parameters, the first one is needed to make directional lights work,
# Tauray doesn't seem to handle them correctly otherwise.
restir.assume-unchanged-reconnection-radiance true
# Our AS is static so might as well mark it as such.
restir.assume-unchanged-acceleration-structures true
restir.assume-unchanged-temporal-visibility false

# ReSTIR parameters from paper.
restir.max-confidence  8
restir.spatial-samples 1
# The default value for this would do some kind of world-space disk. We want a 
# screen-space disk.
restir.sample-spatial-disk false

# Backface culling is needed for RCPG to work correctly, as mentioned in paper.
force-single-sided on

# Disable path space regularization, it biases.
regularization 0.0
devices 0

# Output image resolution
width 1920
height 1080

# INTERACTIVE PREVIEW SETTINGS BEGIN
tonemap reinhard
# INTERACTIVE PREVIEW SETTINGS END

# QUALITY MEASUREMENT SETTINGS BEGIN
# tonemap linear
# warmup-frames 1024
# # This becomes the filename, e.g. `ajar.exr`
# headless ajar
# filetype exr
# QUALITY MEASUREMENT SETTINGS END

# TIMING MEASUREMENT SETTINGS BEGIN
# timing on
# warmup-frames 1024
# timing-output ajar_timing
# # Don't write files, we don't want to get bogged down by slow filesystems when
# # measuring perf.
# filetype none
# TIMING MEASUREMENT SETTINGS END
