validation off
renderer path-tracer

#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_ajar.glb
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_breakfast.glb
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_staircase.glb
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_country_kitchen.glb
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_attic.glb
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_classroom.glb
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_rungholt.glb
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_sponza.glb

max-ray-depth 3
#max-ray-depth 4
samples-per-pixel 262144
samples-per-pass 16

force-single-sided on

regularization 0.0
devices 0

width 1920
height 1080

tonemap linear
headless /home/julius/Asiakirjat/rc-paper/images/reference/ajar_3bounce
filetype exr
progress on
