validation off
#renderer path-tracer
#renderer restir
#renderer rc-restir
renderer rc

#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_ajar.glb
#distance-field /home/julius/Asiakirjat/rc-paper/scenes/ajar.raw
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_breakfast.glb
#distance-field /home/julius/Asiakirjat/rc-paper/scenes/breakfast.raw
scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_staircase.glb
#distance-field /home/julius/Asiakirjat/rc-paper/scenes/staircase.raw
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_classroom.glb
#distance-field /home/julius/Asiakirjat/rc-paper/scenes/classroom.raw
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_rungholt.glb
#distance-field /home/julius/Asiakirjat/rc-paper/scenes/rungholt.raw

#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_country_kitchen.glb
#distance-field /home/julius/Asiakirjat/rc-paper/scenes/country_kitchen.raw
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_attic.glb
#distance-field /home/julius/Asiakirjat/rc-paper/scenes/attic.raw
#scene /home/julius/Asiakirjat/rc-paper/scenes/enshittified_sponza.glb
#distance-field /home/julius/Asiakirjat/rc-paper/scenes/sponza.raw

#scene /home/julius/Asiakirjat/rc-paper/scenes/spotlight_anim_sponza_flip.glb
#scene /home/julius/3D/breakfast/breakfast_manylight.glb

#scene /home/julius/3D/indirect_anim_test.glb
#scene /home/julius/3D/hallo.glb
#scene test/test.glb

max-ray-depth 3
radiance-cascades.recursive false
#max-ray-depth 4
#radiance-cascades.recursive true
samples-per-pixel 17
samples-per-pass 17
radiance-cascades.visualizer false

radiance-cascades.texel uniform
radiance-cascades.c0 4
radiance-cascades.gridsize 7
#radiance-cascades.avg-bias 1.0
radiance-cascades.defensive on

radiance-cascades.shadow-mapped false
radiance-cascades.di-samples 1
enable-light-tree on

restir.assume-unchanged-reconnection-radiance true
restir.assume-unchanged-acceleration-structures true
restir.assume-unchanged-temporal-visibility false
restir.max-confidence  8
restir.spatial-samples 1
restir.sample-spatial-disk false
force-single-sided on
ambient 0,0,0

shadow-map-bias 0.02
#regularization 0.5
devices 0

accumulation on

#indirect-clamping 1000

width 1920
height 1080
#width 512
#height 512

tonemap linear
warmup-frames 1024
#frames 64
#headless /home/julius/Asiakirjat/rc-paper/teaser/3spp
#headless /home/julius/Asiakirjat/rc-paper/images/3bounce-staircase-initial-frames/rcpg/seq
headless /home/julius/Asiakirjat/rc-paper/images/30fps-rcpg-3bounce/staircase
filetype exr

#timing on
#warmup-frames 1024
#frames 256
##timing-output /home/julius/Asiakirjat/rc-paper/teaser/3spp_timing
##timing-output /home/julius/Asiakirjat/rc-paper/images/c0-ablation/timing_4
#timing-output /home/julius/Asiakirjat/rc-paper/images/30fps-rcpg-3bounce/staircase_timing
#filetype none

#width 512
#height 512
#
#exposure 20
#tonemap reinhard
#
#framerate 24
#frames 256
#headless /home/julius/Asiakirjat/rc-paper/anim_flip/flip
#filetype png
